body{
   background: #EDF5E1;
}
h1, h2, h3, h4, .page-header{
   margin-top: 0;
}
.panel, .btn, .form-control, .dropdown-menu{
   border-radius: 0;
}

/* ------------------- NAVBAR --------------------- */
.navbar-inverse .navbar-nav li a{
    color: #EDF5E1;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
 background-color: rebeccapurple;
}

nav, .navbar{
   background:#5CDB95;
   margin-bottom: 20px;
   border: none;
}
.navbar{
   margin-bottom: 0;
}
nav li:hover{
   background: #05386B;
}
nav .dropdown-menu{
   background:#05386B;
}
nav .dropdown-menu a{
   color: #EDF5E1;
}
nav .dropdown-menu a:hover{
   color: #05386B;
   background: #EDF5E1;
}
nav .cart{
   margin-top: 10px;
   float: right;
}

@media (min-width: 768px) {
   .navbar-header{
      width: 100%;
      height: 80px;
   }   
   .navbar-brand img{
      height: 70px;
   }
   nav .cart,
   .navbar-form{
      margin-top: 20px;
   }
   .navbar-nav{
      background: #5CDB95;
      width: 100%;
      padding: 0 20px;
   }
}

/* ------------------- KONTEN --------------------- */
.box-produk{
   background: #EDF5E1;
   text-align: center;
   margin: 10px 0;
   padding: 20px;
}
.box-produk .judul-produk, .box-produk .harga-produk{
   padding: 10px;
   height: 40px;
}
.box-produk img{
   width: 100%;
}
.btn-primary{
   background-color: #e44f2b;
   border-color: #e44f2b;
}
.btn-primary:hover,
.btn-primary:active ,
.btn-primary[disabled]:hover,
.btn-primary.disabled:hover{
   background-color: #e44f08;
   border-color: #e44f08;
}
.loading{
   margin: 20px 0;
   text-align: center;
}
.btn-load{
   margin: 20px auto;
   display: block;
}

/* ------------------- FOOTER --------------------- */
#top-footer{
   background: #05386B;
   height: 40px;
   margin-top: 10px;
}
.social{
   float: left;
}
.social a{
   background: url('../images/social.png') no-repeat;
   background-position: 0 -30px;
   display: block;
   float: left;
   width: 30px;
   height: 30px;
   margin-right: 10px;
   margin-top: 5px;
}
.social a.twitter {
   background-position: -30px -30px;
}
.social a.instagram{
   background-position: -60px -30px;
}
.social a.facebook:hover{
   background-position: 0 0;
}
.social a.twitter:hover{
   background-position: -30px 0;
}
.social a.instagram:hover{
   background-position: -60px 0;
}

.btn-up,
.btn-up:hover{
   color: #05386B;
   font-size: 30px;
   margin-top: 3px;
   cursor: pointer;
}
footer{
   background: #05386B;
   overflow: hidden;
   color: #EDF5E1;
}
footer .judul{
   color: #EDF5E1;
   margin-top: 20px;
}
footer a{
   color: #EDF5E1;
}
footer a:hover{
   color: #EDF5E1;
}
#bottom-footer{
   background: #05386B;
   text-align: center;
   padding: 10px;
}